/*  NO PREDOMINA EL DISEÑO, es horrible! la idea iba en como aplicar diferentes herramientas y hacer un formulario básico*/


body{
    background:#000;
}


.flex-container{
    display:flex;
    justify-content:center;
    flex-direction:row;
    align-items:center;
    flex-wrap:wrap;
    height:100%; /*usando 90vh-100vh ocupa la pantalla completa*/
    background:#333;
    margin:50px 30px;
    padding:20px;
}
.form{
    min-width:300px;
    flex:1.3;
    text-align:center;
    padding:30px;
    order:2;
}

.form__input:focus {
    background: linear-gradient(to bottom, transparent, #222); /*otra forma de utilizar un background dando la direccion del efecto y 2 colores. en este caso 1 es transparente*/
    outline: none;
    border-bottom: 3px solid #4fedae;
}

.form textarea{
    min-height:120px;
    resize:none; /*esta propiedad es para que el textarea no pueda modificar su tamaño a travez del usuario*/

}
.form__input::selection {  /*pseudoelemento para darle efectos al contenido cuando se seleccione... también existe el pseudoelemento placeholder donde podemos definir un content = "lo que quiero q aparezca escrito en el inputo" aunque se suele definir en la etiqueta de html*/
    color: #4fedae;
}

.form__input{
    width:100%;
    padding:7px;
    margin:6px 0;
    border:none;
    border-bottom:3px solid #5dd;
    background-color:transparent;
    color:white;
}


.img-container{
    flex:1;
    display:flex; /*notar que una caja que es un elemento flexible, a su vez, puede ser un contenedor flexible*/
    padding:5px;
    order:1;
}

.img-container img{
    width:324px;
    height:324px;
    min-width:290px;
    min-height:290px;
    padding: 10px;
    background-color: #eeeeee;
    margin:auto; /* recordatorio: si al elemento flexible del contenedor le ponemos margin:auto lo centra*/
    border-radius:50%;

}
/*---------------------------------------------------------- submit-----------------------------------------------------*/
.form__input-submit {
    width: 100%;
    padding: 7px;
    margin: 6px 0;
    border: none;
    border-bottom: 3px solid #5dd;
    background-color: #5dd;
    color: black;
}

/*.form__input-submit:focus {
    background: linear-gradient(to bottom, transparent, #222);*/ /*otra forma de utilizar un background dando la direccion del efecto y 2 colores. en este caso 1 es transparente*/
    /*outline: none;
    border-bottom: 3px solid #4fedae;
    color: white;
}*/
.form__input-submit:active{
        background: linear-gradient(to bottom, transparent, #222); /*otra forma de utilizar un background dando la direccion del efecto y 2 colores. en este caso 1 es transparente*/
    outline: none;
    border-bottom: 3px solid #4fedae;
    color: white;
}